body {
  background-color: #ffe8d4;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.contain {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, #fff1e5 100%),
    url(umaid_bhawan.jpg) no-repeat center fixed;
  /*background: url(https://i.ytimg.com/vi/49HTIoCccDY/maxresdefault.jpg) no-repeat center ;*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

.x {
  transition: transform 0.2s;
}
.x:hover {
  transform: scale(1.1);
}

.hov {
  transition: transform 0.2s;
}
.hov:hover {
  transform: scale(1.1);
}

.mainsection {
  margin: 40px;
  margin-top: 65px;
  border-radius: 20px;
  background-color: white;
}
/*@media only screen and (max-width: 600px) {
  .contain {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 77.08%, #FFF1E5 100%), url(mob.jpg) no-repeat center ;
  
  background-size: cover;
  }
}*/
.display-5 {
  text-align: center;
}
.navbar-custom {
  background: #ffe8d4;
  transition: 500ms ease;

  margin: 0px;
}

.navbar-custom.scrolled {
  background: #ffe8d4 !important;
  box-shadow: 0 8px 6px -6px #999;
  margin: 0px;
  transform: scale(1.03);
}

.x1 {
  transition: transform 0.2s;
}
.x1:hover {
  transform: scale(1.1);
}
.x1.scrolled {
  background-color: rgba(233, 173, 120, 0.46);
  border-radius: 10px;
}
.x1.ret {
  background-color: white;
}

.x2 {
  transition: transform 0.2s;
}
.x2:hover {
  transform: scale(1.1);
}
.x2.scrolled {
  background-color: rgba(233, 173, 120, 0.46);
  border-radius: 10px;
}
.x2.ret {
  background-color: white;
}

.x3 {
  transition: transform 0.2s;
}
.x3:hover {
  transform: scale(1.1);
}
.x3.scrolled {
  background-color: rgba(233, 173, 120, 0.46);
  border-radius: 10px;
}
.h:hover {
  transform: scale(1.1);
}

.post {
  background-color: #c48d70;
  color: white !important;
  border-radius: 10px;
}
.post:hover {
  transform: scale(1.01);
}
.navbar-custom .navbar-brand {
  font-family: "Amita", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #511616;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-custom .navbar-toggler {
  border-color: #511616;
  color: #511616;
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(81, 22, 22, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-custom .nav-link {
  font-family: "Texturina", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: rgba(81, 22, 22, 1);
}

.navbar-custom .nav-link:hover {
  color: rgba(81, 22, 22, 0.7);
}

.jumb {
  height: 5rem;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
.addcommpic {
  padding-top: 35px;
}

.nex {
  float: right;
  cursor: pointer;
  margin-top: 140px;
}

.pre {
  float: left;
  cursor: pointer;
  margin-top: 140px;
}

.contactus {
  margin-left: -80px;
}

@media only screen and (max-width: 600px) {
  input[type="submit"] {
    margin-left: 20px !important;
  }
  .addcommpic {
    margin-left: 70px;
  }
  .username {
    margin-left: 70px;
  }
  .contactus {
    margin-left: 0px;
  }
  .ua {
    margin-left: 70px;
  }
  .un {
    margin-left: 70px;
  }
  #txtar {
    width: 230px;
  }
  .commsq {
    height: 50px;
    width: 50px;
    padding-top: 10px;
    margin-left: -3px;
  }
  .inp {
    padding: 1%;
    padding-left: 4%;
    border-radius: 25px;
    margin-top: 2%;
    background-color: rgba(233, 173, 120, 0.46);
    padding-left: 1.5%;
    margin-left: 20px;
  }
  .mainsection {
    margin: 14px;
    margin-top: 65px;
    border-radius: 20px;
    background-color: white;
  }
  .likebutton,
  .dislikebutton {
    font-size: 30px !important;
  }
  .likebutton {
    padding-bottom: 10px;
  }

  .bookmarkbutton {
    font-size: 40px !important;
    padding-top: 20px;
  }
  .comment-tab {
    padding: 1%;
    border-radius: 25px;
    margin-top: 2%;
    margin: 20px !important;
    width: 290px;
    background-color: rgba(233, 173, 120, 0.46);
    padding-left: 10% !important;
  }
}

@media only screen and (max-width: 359px) {
  .comment-tab {
    padding: 1%;
    border-radius: 25px;
    margin-top: 2%;
    margin: 10px !important;
    width: 270px;
    background-color: rgba(233, 173, 120, 0.46);
    padding-left: 10% !important;
  }
}

@media only screen and (max-width: 1020px) {
  .jumb {
    height: 10rem;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.amita {
  font-family: Amita;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(81, 22, 22, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.taj {
  margin-top: 18rem;
}
@media only screen and (max-width: 1020px) {
  .amita {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1020px) {
  .taj {
    margin-top: 13.5rem;
  }
}

/*.jumbotron{
  background: #F9C4BA;
  border-radius: 48px;
}*/
/*.contain2{
  background-image: url(building2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width:100%;
  height: 50rem;
}*/

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-4 {
  font-family: Amita;
  font-weight: bold;
  color: rgba(81, 22, 22, 1);
}
@media only screen and (max-width: 1020px) {
  .display-4 {
    font-size: 2.3rem;
  }
}

.display-3 {
  color: rgba(81, 22, 22, 1);
  font-size: 3rem;
}
@media only screen and (max-width: 1020px) {
  .display-3 {
    font-size: 2.6rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 720px) {
  .inp {
    margin-left: 30px !important;
  }
  .ua {
    margin-left: 200px;
  }
  .un {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 880px) {
  .inp {
    margin-left: 30px !important;
  }
  .ua {
    margin-left: 290px;
  }
  .un {
    margin-left: 290px;
  }
  #txtar {
    width: 650px;
  }
}

/*h1{
   -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #EE6457;
}*/
input {
  background-color: #fdf5f4;
}

/*a{
  color:#EE6457;
}*/

section {
  padding-bottom: 15vw;
  overflow-x: hidden;
}

.fa-bookmark {
  margin-left: 15px;
  font-size: 40px;
}

.icons {
  display: inline-flex;
}
/* .bookmark {
  font-size: 50px;
  float: right;
  margin-top: 5%;
  padding-right: 10%;
}*/

.likebutton,
.dislikebutton {
  font-size: 40px;
}

.likebutton {
  padding-left: 10px;
}

.dislikebutton {
  text-align: center !important;
  margin-top: -55px;
  padding-bottom: 10px;
}

.unlike {
  font-size: 15px;
  padding: 10px;
}

.undislike {
  font-size: 15px;
}
.unsave {
  font-size: 20px;
  padding-right: 10px;
  margin-top: -60px !important;
}

.bookmarkbutton {
  text-align: right;
  margin-top: -85px;
  padding-right: 10px;
  font-size: 50px;
  overflow-y: hidden;
}

#joinus {
  background: rgba(233, 173, 120, 0.46);
}

.left_icons {
  margin-left: 330px;
  margin-top: -40px;
}
.left_icons a {
  margin-left: 50px;
}

.comment-tab {
  padding: 1%;
  padding-left: 4%;
  border-radius: 25px;
  margin-top: 2%;
  background-color: rgba(233, 173, 120, 0.46);
  padding-left: 1.5%;
}

.inp {
  background-color: white !important;
}
.comment {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "DM Sans", sans-serif;
}

/* .fa-comment {
  position: absolute;
  margin-top: -150px;
  font-size: 40px;
  margin-bottom: 200px;
  margin-left: 140px;
} */

.textarea {
  margin-left: 50px;
  margin-top: -70px;
  display: none;
  height: 60px;
  font-size: 12px;
  white-space: pre-wrap;
}
.far,
fas,
#post_button {
  transition: transform 0.2s !important;
}

#post_button {
  position: absolute;
  margin-left: 50px;
  margin-top: -45px !important;
}
.fas {
  transform: scale(2.5);
}

.far:hover,
#post_button:hover {
  transform: scale(1.3) !important;
}
.fas:hover {
  transform: scale(3.1) !important;
}
#post_button {
  float: right;
  margin-right: 325px;
  margin-top: 55px;
  border: 2px solid #f1886d;
  background-color: #f1886d;
  color: white;
  padding: 10px;
  border-radius: 15px;
  display: none;
}

.fas {
  transform: scale(2.5);
}

.far,
fas,
#post_button {
  transition: transform 0.2s !important;
}

div {
  overflow-x: hidden;
}
.card-text-main {
  font-size: 1rem;
}

.card {
  margin-top: 5px;
  background: white;
  opacity: 0.95;
  border: 2px solid #ffe7d1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow-y: hidden;
}
.card-img-top {
  border-radius: 15px 15px 0 0;
}
.card-body {
  overflow-y: hidden;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Texturina", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(81, 22, 22, 1);
}

a {
  color: rgba(81, 22, 22, 1);
}

.card-ki-body {
  overflow-y: hidden;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Texturina", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0px;
  color: rgba(81, 22, 22, 1);
}

/*@media only screen and (max-width: 1020px) {
.card-body{
  overflow-y: hidden;
  height:10px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: AmstelvarAlpha;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #511616;
}
}*/

a:hover {
  color: rgba(81, 22, 22, 0.7);
}
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  background: rgba(233, 173, 120, 0);
  border: 0; /* Gray border */
  border-bottom: 2px solid #511616;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="email"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  background: rgba(233, 173, 120, 0);
  border: 0; /* Gray border */
  border-bottom: 2px solid #511616;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/*container {
  border-radius: 5px;
  background-color: #F9C4BA;
  padding: 20px;
}*/

input[type="submit"] {
  background-color: #511616;
  color: white;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  padding: 7px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px #000;
  transition: 200ms ease;
}

input[type="submit"]:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  form {
    padding-right: 50px;
  }
}
.btn-google i {
  border-radius: 50%;
  height: 54px;
  width: 54px;
  line-height: 54px;
  background-color: #ee6457;
  color: #fabf2c;
}

* {
  box-sizing: border-box;
}

/*#outer {
   float: left;
   width: 250px;
   overflow: hidden;
   white-space: nowrap;
   display: inline-block;
 }
 
 #left-button {
   float: left;
   width: 30px;
   text-align: center;
 }
 
 #right-button {
   float: left;
   width: 30px;
   text-align: center;
 }
 
 a {
   text-decoration: none;
   font-weight: bolder;
   color: red;
 }
 
 #inner:first-child {
   margin-left: 0;
 }
 
 label {
   margin-left: 10px;
 }
 
 .hide {
   display: none;
 }
*/

.slick-slider {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.slick-list {
  width: 100%;
  padding: 0 2px;
}

.slick-prev,
.slick-next {
  order: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 52px;
  height: 52px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: #cecece;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
@media (hover: hover) {
  .slick-prev:hover,
  .slick-next:hover {
    background-color: #222;
  }
}
.slick-prev:after,
.slick-next:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translateX(4px) rotate(45deg);
}

.slick-prev {
  margin-left: 20px;
}

.slick-next {
  margin-left: auto;
}
.slick-next:after {
  transform: translateX(-4px) rotate(-135deg);
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.contain-cat {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, #fff1e5 100%),
    url("Insights.png") no-repeat center;
  height: 40vw;
  width: 100vw;
  /*background: url(https://i.ytimg.com/vi/49HTIoCccDY/maxresdefault.jpg) no-repeat center ;*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
}
/*@media (max-width: 1200px) { 
.contain-cat{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, #FFF1E5 100%), url("KeyPicture.png") no-repeat center;
  background-size: cover;
}
}*/
.inp {
  padding: 1%;
  padding-left: 4%;
  border-radius: 25px;
  margin-top: 2%;
  background-color: rgba(233, 173, 120, 0.46);
  padding-left: 1.5%;
  margin-left: 100px;
}
